// home page
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; /* Ensure all cards have the same height */
}

.gallery-item {
  width: calc(33.33% - 10px);
  border: 1px solid #ccc;
  margin-bottom: 20px;
  min-height: 400px; /* Set the minimum height for each card */
  min-width: 300px; /* Set the minimum width for each card */
  position: relative; /* To position the text */
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire card */
}

.gallery-item a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; /* Resize the background image to cover the entire card */
  background-position: center;
  position: relative;
  overflow: hidden;
}

.image-gradient{
  // background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(32,30,44,0.64) 88%,rgba(32,30,44,0.65) 89%);
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(32, 30, 44, 0.64) 88%, rgba(32, 30, 44, 0.6) 89%);
  z-index:3;
  position:absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}
.card-content {
  position: absolute;
  bottom: 10px; /* Adjust the spacing from the bottom */
  left: 10px;
  color: #fff;
  padding: 5px;
  text-align: center;
  z-index: 7;
  text-align: left;
}
.card-title{
  // font-weight: normal; /* Make the font less bold */
  font-weight: 700; // for liveoverflow image
  margin: 0;
  border-bottom:none !important; // remove the white line below the h2 tag
  font-family:'Merriweather', serif;
  font-style: italic;
}
.card-date {
  color: #FFD700; /* Slightly yellow color */
  margin: 0;
}

hr {
  border: none; // Remove the default border
  height: 2px; // Set the height of the line
  background-color: #ccc; // Use WordPress blue color
  border:1px solid;
  // margin: 20px 0; // Add margin above and below the line
}
.caption-center{
  text-align: center;
}
.run-btn{ // try btn-succses
  width: 100%;
  background-color: #0284ce;
  color:#fff;
  text-decoration: none;
  border-radius: 999px;
  border: 10px solid;
  border-color: #0284ce;
  // font-size:0.4vw
  transition:none;
  text-decoration: 0px;
}
.run-btn:visited{
  color:#fff;
  text-decoration: 10px;
}
// colors (idea from so:35465557 ans:65626850)
red { color: Red }
orange { color: Orange }
green { color: rgb(0, 185, 0) }
darkgreen {color:green}
lightgreen{color:lightgreen}
blue{color:blue}
// simple posts
.small-img{
  height: 200px;
  
}
img.centered { // from so:23819197
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.phone-screenshot{
  width:246px;
  height:546px
}
.giscus-frame{
  color-scheme: light;
}